*{
    box-sizing: border-box;
    margin: 0;
}
#tiles{
    display: flex;
}
.tile{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-size: 6rem;
    font-weight: 500;
    color: #FCE4EF;
    text-align: left;
    padding: 48px;
    padding-top: 10px;
}
#main{
    background-color: #422DA8;
}
#circle{
    display: flex;
    background-color: #FCE4EF;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 72px;
    align-self: center;
}