#paragraf{
    display: flex;
    text-align: left;
    min-width: 100%;
    font-size:2rem;
    color: black;
    padding-left: 200px;
    padding-right: 70px;
    padding-top: 30px;
}
#titleShow{
    font-size: 7rem;
    background-color: red;

}
#titleHide{
    display: none;
}